<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <!--    <link rel="stylesheet" href="../static/bootstrap.min.css">-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="m-5">

    <div class="row m-4">
        <div class="col-9">
            <h1>Transactions</h1>
            <br>
            <br>
        </div>
        <div class="row m-2">
            <div  class="col-2 text-left">
                <a th:href="@{/}" class="btn btn-info">Home</a>
            </div>
            <div class="col-2 text-left">
                <a th:href="@{/books}" class="btn btn-info">All Books</a>
            </div>
            <div class="col-2 text-left">
                <a th:href="@{/members}" class="btn btn-info">All Members</a>
            </div>
            <div class="col-2 text-left">
                <a th:href="@{/transactions}" class="btn btn-info">All Transactions</a>
            </div>
        </div>
    </div>



    <table  class="table p-4">
        <thead>
            <tr >
                <td > Transaction ID </td>
                <td > Member </td>
                <td > Book </td>
                <td > Check Out Date </td>

            </tr>
        </thead>
        <tbody>
            <tr th:each ="transaction : ${transactionsMultiple}">
                <td>
                    <a th:text="${transaction.id}" th:href="@{/transactions/{id}(id=${transaction.id})}"></a>
                </td>
                <td>
                    <a th:text="${transaction.member?.firstName}" th:href="@{/members/{id}(id=${transaction.userId})}"></a>
                </td>
                <td>
                    <ul th:each="bookWithDate : ${transaction.booksWithDate}">
                        <li >
                            <a th:text="${bookWithDate.book.title}" th:href="@{/books/{id}(id=${bookWithDate.book.isbn})}"></a>
                        </li>
                    </ul>
                </td>
                <td th:text="${transaction.checkedOutDate}"></td>
<!--                <td th:text="${transaction.returnDate}"></td>-->
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>
